.container-footer-top {
    background: #2196F3;
    padding: 10px 0;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.container-footer-middle {
    padding: 40px 0 20px 0;
    background: #111;
    color: #fff;
    font-size: 12px;
}

.container-footer-bottom {
    padding: 15px 0;
    background: #111;
    font-size: 11px;
    text-align: center;
}

.line {
    background: #111;
    border-top: 1px solid #000;
    border-bottom: 1px solid #222;
    border-left: none;
    border-right: none;
    height: 1px;
    width: 100%;
}