body, html {
    margin: 0px;
    padding: 0px;
    color: #4a4a4a;
}

html {
    background: url(../img/background.png);
}

body {
    background-color: rgba(255, 255, 255, 0);
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 #bfbfbf;
}

.container-header {
    background: url(../img/header-background.png) 0 0 repeat-x;
    height: 170px;
}

.container-header-control {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background: url(../img/header-top-block-background.png) 50% 100% no-repeat;
}

.header-search {
    width: 100%;
    border-radius: 50px;
    padding: 5px 15px;
    border: 1px solid#ddd;
    position: relative;
}

.search-button {
    background: url(../img/icon-search.png) no-repeat;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    border: none;
    position: absolute;
    right: 13px;
    top: 15px;
}

.container-header-search {
    margin-top: 15px;
    position: relative;
}

.header-control {
    margin-right: 15px;
}

.container-header-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.container-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-link {
    color: #757575;
    text-decoration: none;
    font-weight: 600;
}

.header-contact {
    text-align: right;
}

.menu-button {
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 50px;
    padding: 3px 30px;
    border: 1px solid#ddd;
    background: #fefcea;
    background: linear-gradient(to top, #e0e0e0, #f8f8f8);
    color: #3a5c02;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    -webkit-box-shadow: 0 2px 5px #5D8917;
}

.header-cart-control {
    background: url(../img/trash-block-background.png) 0 0 repeat-x;
    height: 50px;
    display: flex;
    line-height: 21px;
    font-size: 14px;
    color: #5B5B5B;
    text-shadow: 0 1px 2px #FFF;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 5px #5D8917;
    -webkit-box-shadow: 0 2px 5px #5D8917;
    -moz-box-shadow: 0 2px 5px #5D8917;
}

.header-cart-icon {
    background: url(../img/icon-trash.png) 0 0 no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.main-slider-item {
    height: 500px;
}

.main-slider-item img {
    width: 100%
}

.slick-arrow {
    position: absolute;
    top: 50%;
    width: 22px;
    height: 45px;
    cursor: pointer;
    margin-top: -22px;
    background: url(../img/arrows.png) no-repeat;
}

.slick-prev-arrow {
    left: -40px;
}

.slick-next-arrow {
    right: -40px;
    background-position: -22px 0;
}

.container-blue {
    background-color: #cad8ff;
}

.advantages-wrapper {
    display: flex;
    justify-content: space-between;
}

.advantages-item {
    text-align: center;
    padding: 30px;
}

.advantages-icon {
    height: 70px;
    display: flex;
}

.advantages-text {
    color: #666;
    font-weight: bold;
    text-shadow: 0 1px 0 #ffffff;
}

.advantages-icon img {
    margin: auto;
}

.container-slider-small {
    padding-bottom: 100px;
}

.container-sentence {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sentence-img {
    position: absolute;
    right: 0px;
    bottom: -70px;
}

.sentence-block {
    background: url(../img/cursor-orange.png) no-repeat;
    height: 60px;
    background-size: 340px 60px;
    background-position: left;
    display: flex;
    align-items: center;
    padding-left: 36px;
    width: 350px;
}

.sentence-text {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 0 1px 0 #6b6b6b;
    font-size: 18px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 0 1px 0 #4f7f0c;
    font-size: 12px;
    line-height: 50px;
}

.header-link:hover {
    color: #fff;
}

.header-search {
    height: 20px;
    border: 1px solid #cfc8bc;
    background: #f9f9f9 url(../img/input-block.png) repeat-x;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff;
    margin-top: 15px;
    color: #5b5b5b;
    padding: 0 10px;
}

.header-action-control {
    display: flex;
    justify-content: space-around;
}

.white-link {
    color: #fff;
}

.white-link:active {
    color: #fff;
}

.white-link:hover {
    color: #fff;
}

.white-link:focus {
    color: #fff;
}

.recall-me {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    text-shadow: 0px 1px 0px rgba(56, 92, 6, 0.4);
}

.phone-block-item {
    font-size: 16px;
    text-shadow: 0px 1px 0px rgba(56, 92, 6, 0.4);
    line-height: 22px;
    background-repeat: no-repeat;
    background-position: left 3px;
    padding-left: 20px;
}

.phone-block-item-beeline {
    background-image: url(../img/phone-beeline.png);
}

.phone-block-item-megafon {
    background-image: url(../img/phone-megafon.png);
}

.phone-block-item-mts {
    background-image: url(../img/phone-mts.png);
}

.header-contact a {
    color: #fff;
    text-decoration: none;
}

.header-contacts-control {
    margin-right: 15px;
}

.container-about {
    background: #f0f0f0 url(../img/about-bg.png) repeat-x;
}

.container-advantages {
    background: url(../img/shadow.png) 50% 0 no-repeat;
    background-position: bottom;
}

.offers-tabs-wrapper .offers-tab-hidden-link {
    display: none;
}

.offers-tabs-wrapper .active .offers-tab-hidden-link {
    display: block;
}

.tab-block-links {
    height: 50px;
    line-height: 50px;
    background: #B5B5B5;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
    margin-right: 1px;
    cursor: pointer;
    display: flex;
}

.tab-block-links:hover {
    background: #68A417;
}

.offers-tabs-wrapper .active {
    background: #68A417;
    cursor: default;
}

.offers-tabs-wrapper {
    border-bottom: 2px solid #68A417;
    margin-bottom: 25px;
    position: relative;
}

.tab-block-link {
    margin-right: 10px;
}

.offers-tab-hidden-link {
    font-size: 13px;
    margin-left: 10px;
    font-weight: normal;
}

.container-offers-tabs {
    padding-top: 30px;
}

.tab-block-links-right {
    height: 50px;
    line-height: 50px;
    background: #FF0000;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
    margin-right: 1px;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 0px;
}

.offers-tab-hidden-link-right {
    font-size: 13px;
    margin-left: 10px;
    font-weight: normal;
}