body {
    font-size: 13px;
    line-height: 20px;
    font-family: 'Open Sans', verdana, sans-serif;
}

.bone {
    background: #efefef;
}

.item-title {
    color: #68a417;
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
}

.color-text-item {
    color: #5b5b5b;
}

.description {
    padding-bottom: 4.5rem;
    background: url(../img/kol-block.png) 0 100% no-repeat;
}

.marg-bott-18 {
    margin-bottom: 1.8rem;
}

.table-title {
    color: #68a417;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.theader-back {
    font-weight: 600;
    font-size: 14px;
    background: url(../img/th-background.png) repeat-x;
    height: 43px;
    color: #464646;
}
.thead-border {
    border: 1px dotted #7eb61e;
}
.about-item {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}
.item-name-a {
    color: #56a2fe;
    text-decoration: underline;
    outline: none;
}

.item-name-a:hover {
    text-decoration: none;
    color: #56a2fe;
}
.block-line {
    height: 40px;
    clear: both;
    margin-bottom: 20px;
}
.block-line-div {
    background: url(../img/line.png) 100% 50% repeat-x;
    vertical-align: middle;
    height: 40px;
}
.buy-button, .buy-button:hover, .buy-button:focus {
    border: solid 2px #ffa404;
    border-radius: 30px;
    background: #f6f6f6;
    color: #59900f;
    padding: 3px 2rem;
    font-size: 15px;
    font-weight: 700;
}
.button-img-padd {
    padding-right: 0.5rem;
}
.table-hover > tbody > tr:hover , .table-hover > tbody > tr:hover  {
    background: #fff;
    border: 2px solid #FFA205;
    border-radius: 10px;
}
.shadow-box {
    box-shadow: black 0 0 24px;
}
.order-button, .order-button:hover, .order-button:focus {
    border: solid 3px #ffa404;
    border-radius: 30px;
    background: #f6f6f6;
    font-size: 15px;
    font-weight: 700;
    color: #3a5c02;
    padding: 10px 4rem;

}
.border-bottom {
    border-bottom: 1px dotted #7eb61e;
}
.grey {
    color: #464646;
}